# SPDX-License-Identifier: GPL-2.0
#
# Block device filter drivers configuration
#

menuconfig BDEVFLT
	bool "Block device filters"
	depends on BLOCK
	default y
	help
	  Say Y here to get to see options for various different block device
	  filter drivers. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled;
	  only do this if you know what you are doing.

if BDEVFLT

source "drivers/block/filters/gbdevflt/Kconfig"

endif # BDEVFLT
